{
    "openapi": "3.1.0",
    "x-stoplight": {
        "id": "peh3m5s025y86"
    },
    "info": {
        "title": "Direct APIs",
        "version": "1.0",
        "summary": "WhatsApp Cloud APIs",
        "description": "Submit Templates, send Messages & configure Webhooks for inbound & outbound messages",
        "contact": {
            "name": "Ankit Gupta",
            "email": "ankit@aisensy.com"
        }
    },
    "servers": [
        {
            "url": "https://backend.aisensy.com/direct-apis/t1/",
            "description": "Main Server"
        }
    ],
    "paths": {
        "/users/regenrate-token": {
            "parameters": [],
            "post": {
                "summary": "Regenerate JWT Bearer Token to Access Direct-APIs",
                "operationId": "postusers-regenrate-token",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "token": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "users": [
                                                {
                                                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhc3Npc3RhbnRJZCI6IjYzNDAzZjM1NDY0YWM4MGViYThjODM5ZiIsImNsaWVudElkIjoiNjMwMjljNzI4NTg3MTg1 MWE0OTMyZjU4Iiwid2ViaG9va1VybCI6Imh0dHBzOi8vd2ViaG9vay5zaXRlLzdhMmJhOWU0LTZlZTctNDdkNC04NmZhLWI1N2M0MGM0Njg5YSIsImlhdCI6MTY3MTQ2MzQ3OSwiZXhwIjoxNjcxNTQ5ODc5fQ.px3PubpbLAElh3s_yau0HghNg7u8SaM__GRfTc-xh2M"
                                                }
                                            ]
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "users": [
                                                {
                                                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYzMmM1OTRlMzJkYjdjM2MzNWQxZmQ0YyIsIm5hbWUiOiJBbHBoYSBNRCBQdnQgTHRkIiwiYXBwTmFtZSI6IkFpU2Vuc3kiLCJjbGllbnRJZCI6IjYzMmM1OTRlMzJkYjdjM2MzNWQxZmQ0YiIsImFjdGl2ZVBsYW4iOiJCQVDgzMH0.ju_8ssY6Hpr1zV0hFEmXyhU4buIwCKbTOKWomI0NRYI"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Regenerate JWT Bearer Token to access all other APIs. This end point uses a base64 encoded token for authorization generated by the following format `<username>:<password>:<projectId>`",
                "parameters": [],
                "x-internal": false,
                "security": [
                    {
                        "Base64 token": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "direct_api": {
                                        "type": "boolean",
                                        "description": "true => Non expiring token / false => Auto-expire in 24hrs"
                                    }
                                }
                            },
                            "examples": {
                                "Example 1": {
                                    "value": {
                                        "direct_api": true
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post - copy": {
                "summary": "Regenerate JWT Bearer Token to Access Direct-APIs",
                "operationId": "postusers-regenrate-token",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "token": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "users": [
                                                {
                                                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhc3Npc3RhbnRJZCI6IjYzNDAzZjM1NDY0YWM4MGViYThjODM5ZiIsImNsaWVudElkIjoiNjMwMjljNzI4NTg3MTg1 MWE0OTMyZjU4Iiwid2ViaG9va1VybCI6Imh0dHBzOi8vd2ViaG9vay5zaXRlLzdhMmJhOWU0LTZlZTctNDdkNC04NmZhLWI1N2M0MGM0Njg5YSIsImlhdCI6MTY3MTQ2MzQ3OSwiZXhwIjoxNjcxNTQ5ODc5fQ.px3PubpbLAElh3s_yau0HghNg7u8SaM__GRfTc-xh2M"
                                                }
                                            ]
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "users": [
                                                {
                                                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYzMmM1OTRlMzJkYjdjM2MzNWQxZmQ0YyIsIm5hbWUiOiJBbHBoYSBNRCBQdnQgTHRkIiwiYXBwTmFtZSI6IkFpU2Vuc3kiLCJjbGllbnRJZCI6IjYzMmM1OTRlMzJkYjdjM2MzNWQxZmQ0YiIsImFjdGl2ZVBsYW4iOiJCQVDgzMH0.ju_8ssY6Hpr1zV0hFEmXyhU4buIwCKbTOKWomI0NRYI"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Regenerate JWT Bearer Token to access all other APIs. This end point uses a base64 encoded token for authorization generated by the following format `<username>:<password>:<projectId>`",
                "parameters": [],
                "x-internal": false,
                "security": [
                    {
                        "Base64 token": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "direct_api": {
                                        "type": "boolean",
                                        "description": "true => Non expiring token / false => Auto-expire in 24hrs"
                                    }
                                }
                            },
                            "examples": {
                                "Example 1": {
                                    "value": {
                                        "direct_api": true
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages": {
            "post": {
                "summary": "Send Message",
                "operationId": "post-messages",
                "description": "Use the messages endpoint to send text, media, contacts, locations, and interactive messages, as well as message templates to your customers.",
                "parameters": [],
                "x-internal": false,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "to": "918116856153",
                                        "type": "template",
                                        "template": {
                                            "namespace": "fe3b623d_f708_4b32_8018_a5cca4d2658a",
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en_us"
                                            },
                                            "name": "sample_shipping_confirmation",
                                            "components": [
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "ANKIT"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "description": "WhatsApp ID or phone number for the person you want to send a message to."
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "The type of message you want to send."
                                    },
                                    "template": {
                                        "type": "object",
                                        "description": "A template object.",
                                        "properties": {
                                            "namespace": {
                                                "type": "string",
                                                "description": "Optional field"
                                            },
                                            "language": {
                                                "type": "object",
                                                "description": "Contains a language object. Specifies the language the template may be rendered in.",
                                                "properties": {
                                                    "policy": {
                                                        "type": "string",
                                                        "description": "The language policy the message should follow. The only supported option is deterministic. "
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "description": "The code of the language or locale to use. Accepts both language and language_locale formats (e.g., en and en_US)."
                                                    }
                                                }
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Name of the template."
                                            },
                                            "components": {
                                                "type": "array",
                                                "description": "Array of components objects containing the parameters of the message.",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "parameters": {
                                                            "type": "array",
                                                            "description": "Required when type=button.\n\nArray of parameter objects with the content of the message.",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "text": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "description": "Describes the parameter type.\nValues: text, currency, date_time, image, document, video"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "type": {
                                                            "type": "string",
                                                            "description": "Supported Options\n\nheader,\nbody,\nbutton"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Text Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "text",
                                        "recipient_type": "individual",
                                        "text": {
                                            "body": "sample query from user?"
                                        }
                                    }
                                },
                                "Image Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "image",
                                        "image": {
                                            "caption": "Your image caption here",
                                            "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/IMAGE/6245d025fcb7966c46294618/2699676_babyyoda1.png"
                                        }
                                    }
                                },
                                "Video Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "video",
                                        "video": {
                                            "caption": "Your video caption here",
                                            "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/VIDEO/6245d025fcb7966c46294618/9346765_6467606fileexampleMP448015MG.mp4"
                                        }
                                    }
                                },
                                "Audio Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "audio",
                                        "audio": {
                                            "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/AUDIO/6245d025fcb7966c46294618/565346_fileexampleMP3700KB.mp3"
                                        }
                                    }
                                },
                                "Document Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "document",
                                        "document": {
                                            "caption": "Your document caption here",
                                            "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/FILE/6245d025fcb7966c46294618/4233108_sample51843456.jpeg",
                                            "filename": "wds"
                                        }
                                    }
                                },
                                "Template - TEXT": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en_us"
                                            },
                                            "name": "sample_shipping_confirmation",
                                            "components": [
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "6-7"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template -  IMAGE": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "sample_image_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "image",
                                                            "image": {
                                                                "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/IMAGE/6245d025fcb7966c46294618/2699676_babyyoda1.png"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - VIDEO": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "video_type_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "video",
                                                            "video": {
                                                                "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/VIDEO/6245d025fcb7966c46294618/6334744_6467606fileexampleMP448015MG.mp4"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - DOCUMENT": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "document_type_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "document",
                                                            "document": {
                                                                "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/FILE/6245d025fcb7966c46294618/3665271_samplePDF.pdf",
                                                                "filename": "qwerty"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Header & Footer": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "header_footer_type_template",
                                            "components": []
                                        }
                                    }
                                },
                                "Template - Button - Call To Action [Phone Number, URL]": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "cta_button_type_template1",
                                            "components": [
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-url"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Button - Quick Reply": {
                                    "value": {
                                        "to": "918116856153",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "quicky_reply_type_template",
                                            "components": []
                                        }
                                    }
                                },
                                "Template - MIXED": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "complex_type_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "video",
                                                            "video": {
                                                                "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/VIDEO/6245d025fcb7966c46294618/6334744_6467606fileexampleMP448015MG.mp4"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-link"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Interactive Single Product": {
                                    "value": {
                                        "recipient_type": "individual",
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "product",
                                            "body": {
                                                "text": "Body text of interactive msg here"
                                            },
                                            "footer": {
                                                "text": "Interactive Msg Footer"
                                            },
                                            "action": {
                                                "catalog_id": "570881508310768",
                                                "product_retailer_id": "someId15"
                                            }
                                        }
                                    }
                                },
                                "Interactive Multi-Products": {
                                    "value": {
                                        "recipient_type": "individual",
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "product_list",
                                            "header": {
                                                "type": "text",
                                                "text": "Interactive Msg Header"
                                            },
                                            "body": {
                                                "text": "Body text of interactive msg here"
                                            },
                                            "footer": {
                                                "text": "Interactive Msg Footer"
                                            },
                                            "action": {
                                                "catalog_id": "1242162653103312",
                                                "sections": [
                                                    {
                                                        "title": "Earings",
                                                        "product_items": [
                                                            {
                                                                "product_retailer_id": "44347337697575"
                                                            },
                                                            {
                                                                "product_retailer_id": "44347336419623"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "title": "Apparels",
                                                        "product_items": [
                                                            {
                                                                "product_retailer_id": "44237374004519"
                                                            },
                                                            {
                                                                "product_retailer_id": "44237514808615"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                },
                                "Interactive - Draft Flow": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "recipient_type": "individual",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "flow",
                                            "header": {
                                                "type": "text",
                                                "text": "Not shown in draft mode"
                                            },
                                            "body": {
                                                "text": "Not shown in draft mode"
                                            },
                                            "footer": {
                                                "text": "Not shown in draft mode"
                                            },
                                            "action": {
                                                "name": "flow",
                                                "parameters": {
                                                    "flow_message_version": "3",
                                                    "flow_action": "navigate",
                                                    "flow_token": "random_user_generated_token",
                                                    "flow_id": "242618178791268",
                                                    "flow_cta": "Not shown in draft mode",
                                                    "mode": "draft",
                                                    "flow_action_payload": {
                                                        "screen": "MY_FIRST_SCREEN",
                                                        "data": {
                                                            "custom_variable": "custom_value"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Interactive - Published Flow": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "recipient_type": "individual",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "flow",
                                            "header": {
                                                "type": "text",
                                                "text": "<HEADER_TEXT>"
                                            },
                                            "body": {
                                                "text": "<BODY_TEXT>"
                                            },
                                            "footer": {
                                                "text": "<FOOTER_TEXT>"
                                            },
                                            "action": {
                                                "name": "flow",
                                                "parameters": {
                                                    "flow_message_version": "3",
                                                    "flow_action": "navigate",
                                                    "flow_token": "random_user_generated_token",
                                                    "flow_id": "1354795268451905",
                                                    "flow_cta": "Open Flow!",
                                                    "flow_action_payload": {
                                                        "screen": "DEMO_SCREEN",
                                                        "data": {
                                                            "custom_variable": "custom_value"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Template - Multi Button": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "multi_button_template",
                                            "components": [
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "lob"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-url"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Carousel": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "recipient_type": "individual",
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "name": "summer_carousel_promo_2023_5",
                                            "language": {
                                                "code": "en_US"
                                            },
                                            "components": [
                                                {
                                                    "type": "BODY",
                                                    "parameters": [
                                                        {
                                                            "type": "TEXT",
                                                            "text": "20OFF"
                                                        },
                                                        {
                                                            "type": "TEXT",
                                                            "text": "20%"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "CAROUSEL",
                                                    "cards": [
                                                        {
                                                            "card_index": 0,
                                                            "components": [
                                                                {
                                                                    "type": "HEADER",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "IMAGE",
                                                                            "image": {
                                                                                "link": "https://images.pexels.com/photos/616838/pexels-photo-616838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "BODY",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "TEXT",
                                                                            "text": "10OFF"
                                                                        },
                                                                        {
                                                                            "type": "TEXT",
                                                                            "text": "10%"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "BUTTON",
                                                                    "sub_type": "QUICK_REPLY",
                                                                    "index": "0",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "PAYLOAD",
                                                                            "payload": "59NqSd"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "card_index": 1,
                                                            "components": [
                                                                {
                                                                    "type": "HEADER",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "IMAGE",
                                                                            "image": {
                                                                                "link": "https://images.pexels.com/photos/326131/pexels-photo-326131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                                                            }
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "BODY",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "TEXT",
                                                                            "text": "30OFF"
                                                                        },
                                                                        {
                                                                            "type": "TEXT",
                                                                            "text": "30%"
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "type": "BUTTON",
                                                                    "sub_type": "QUICK_REPLY",
                                                                    "index": "0",
                                                                    "parameters": [
                                                                        {
                                                                            "type": "PAYLOAD",
                                                                            "payload": "7C4xhY"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Flow": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "to": "917889379345",
                                        "type": "template",
                                        "template": {
                                            "name": "flow_template",
                                            "language": {
                                                "code": "en_US"
                                            },
                                            "components": [
                                                {
                                                    "type": "button",
                                                    "sub_type": "flow",
                                                    "index": "0",
                                                    "parameters": [
                                                        {
                                                            "type": "action",
                                                            "action": {
                                                                "flow_token": "some_user_generated_token",
                                                                "flow_action_data": {
                                                                    "custom_variable": "custom_value"
                                                                }
                                                            }
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Draft Flow Message": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "to": "917889379345",
                                        "recipient_type": "individual",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "flow",
                                            "header": {
                                                "type": "text",
                                                "text": "Not shown in draft mode"
                                            },
                                            "body": {
                                                "text": "Not shown in draft mode"
                                            },
                                            "footer": {
                                                "text": "Not shown in draft mode"
                                            },
                                            "action": {
                                                "name": "flow",
                                                "parameters": {
                                                    "flow_message_version": "3",
                                                    "flow_action": "navigate",
                                                    "flow_token": "random_user_generated_token",
                                                    "flow_id": "242618178791268",
                                                    "flow_cta": "Not shown in draft mode",
                                                    "mode": "draft",
                                                    "flow_action_payload": {
                                                        "screen": "MY_FIRST_SCREEN",
                                                        "data": {
                                                            "custom_variable": "custom_value"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Template - Coupon Code": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "my_coupon_code_template",
                                            "components": [
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "6-7"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "copy_code",
                                                    "index": 0,
                                                    "parameters": [
                                                        {
                                                            "type": "coupon_code",
                                                            "coupon_code": "FAB20"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Limited Time Offer": {
                                    "value": {
                                        "messaging_product": "whatsapp",
                                        "recipient_type": "individual",
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "name": "limited_time_offer_tem_2",
                                            "language": {
                                                "code": "en"
                                            },
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "image",
                                                            "image": {
                                                                "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/IMAGE/6245d025fcb7966c46294618/2699676_babyyoda1.png"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        },
                                                        {
                                                            "type": "text",
                                                            "text": "20%"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "limited_time_offer",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "1234"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "copy_code",
                                                    "index": 0,
                                                    "parameters": [
                                                        {
                                                            "type": "coupon_code",
                                                            "coupon_code": "FAB20"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-url"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/octet-stream": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "text/html": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/EDI-X12": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/EDIFACT": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/atom+xml": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/font-woff": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/gzip": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        }
                    },
                    "description": "Example body of /message endpoint refer to https://developers.facebook.com/docs/whatsapp/on-premises/reference/messages for more details."
                },
                "responses": {
                    "200": {
                        "description": "Ok",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "messaging_product": {
                                            "type": "string"
                                        },
                                        "contacts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "input": {
                                                        "type": "string"
                                                    },
                                                    "wa_id": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "messages": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "messaging_product": "whatsapp",
                                            "contacts": [
                                                {
                                                    "input": "918167876153",
                                                    "wa_id": "918167876153"
                                                }
                                            ],
                                            "messages": [
                                                {
                                                    "id": "wamid.HBgMOTE4MTE2ODU2MTUzFQIAERgSMUEwRUM5ODIxRTFGMzZBQjk2AA=="
                                                }
                                            ]
                                        }
                                    }
                                },
                                "examples": {
                                    "Example 1": {
                                        "value": {
                                            "messaging_product": "whatsapp",
                                            "contacts": [
                                                {
                                                    "input": "918198776153",
                                                    "wa_id": "918198776153"
                                                }
                                            ],
                                            "messages": [
                                                {
                                                    "id": "wamid.HBgMOTE4MTE2ODU2M8865IAERgSMUEwRUM5ODIxRTFGMzZBQjk2AA=="
                                                }
                                            ]
                                        }
                                    }
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "object",
                                    "properties": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT token": []
                    }
                ],
                "tags": [
                    "Messages"
                ]
            },
            "post - copy 10": {
                "summary": "Send Message",
                "operationId": "post-messages",
                "description": "Use the messages endpoint to send text, media, contacts, locations, and interactive messages, as well as message templates to your customers.",
                "parameters": [],
                "x-internal": false,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "to": "918116856153",
                                        "type": "template",
                                        "template": {
                                            "namespace": "fe3b623d_f708_4b32_8018_a5cca4d2658a",
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en_us"
                                            },
                                            "name": "sample_shipping_confirmation",
                                            "components": [
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "ANKIT"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "description": "WhatsApp ID or phone number for the person you want to send a message to."
                                    },
                                    "type": {
                                        "type": "string",
                                        "description": "The type of message you want to send."
                                    },
                                    "template": {
                                        "type": "object",
                                        "description": "A template object.",
                                        "properties": {
                                            "namespace": {
                                                "type": "string",
                                                "description": "Optional field"
                                            },
                                            "language": {
                                                "type": "object",
                                                "description": "Contains a language object. Specifies the language the template may be rendered in.",
                                                "properties": {
                                                    "policy": {
                                                        "type": "string",
                                                        "description": "The language policy the message should follow. The only supported option is deterministic. "
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "description": "The code of the language or locale to use. Accepts both language and language_locale formats (e.g., en and en_US)."
                                                    }
                                                }
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": "Name of the template."
                                            },
                                            "components": {
                                                "type": "array",
                                                "description": "Array of components objects containing the parameters of the message.",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "parameters": {
                                                            "type": "array",
                                                            "description": "Required when type=button.\n\nArray of parameter objects with the content of the message.",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "text": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "description": "Describes the parameter type.\nValues: text, currency, date_time, image, document, video"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "type": {
                                                            "type": "string",
                                                            "description": "Supported Options\n\nheader,\nbody,\nbutton"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Text Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "text",
                                        "recipient_type": "individual",
                                        "text": {
                                            "body": "sample query from user?"
                                        }
                                    }
                                },
                                "Image Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "image",
                                        "image": {
                                            "caption": "Your image caption here",
                                            "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/IMAGE/6245d025fcb7966c46294618/2699676_babyyoda1.png"
                                        }
                                    }
                                },
                                "Video Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "video",
                                        "video": {
                                            "caption": "Your video caption here",
                                            "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/VIDEO/6245d025fcb7966c46294618/9346765_6467606fileexampleMP448015MG.mp4"
                                        }
                                    }
                                },
                                "Audio Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "audio",
                                        "audio": {
                                            "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/AUDIO/6245d025fcb7966c46294618/565346_fileexampleMP3700KB.mp3"
                                        }
                                    }
                                },
                                "Document Message": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "document",
                                        "document": {
                                            "caption": "Your document caption here",
                                            "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/FILE/6245d025fcb7966c46294618/4233108_sample51843456.jpeg",
                                            "filename": "wds"
                                        }
                                    }
                                },
                                "Template - TEXT": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en_us"
                                            },
                                            "name": "sample_shipping_confirmation",
                                            "components": [
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "6-7"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template -  IMAGE": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "sample_image_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "image",
                                                            "image": {
                                                                "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/IMAGE/6245d025fcb7966c46294618/2699676_babyyoda1.png"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - VIDEO": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "video_type_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "video",
                                                            "video": {
                                                                "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/VIDEO/6245d025fcb7966c46294618/6334744_6467606fileexampleMP448015MG.mp4"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - DOCUMENT": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "document_type_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "document",
                                                            "document": {
                                                                "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/FILE/6245d025fcb7966c46294618/3665271_samplePDF.pdf",
                                                                "filename": "qwerty"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Header & Footer": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "header_footer_type_template",
                                            "components": []
                                        }
                                    }
                                },
                                "Template - Button - Call To Action [Phone Number, URL]": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "cta_button_type_template1",
                                            "components": [
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-url"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Template - Button - Quick Reply": {
                                    "value": {
                                        "to": "918116856153",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "quicky_reply_type_template",
                                            "components": []
                                        }
                                    }
                                },
                                "Template - MIXED": {
                                    "value": {
                                        "to": "917089379345",
                                        "type": "template",
                                        "template": {
                                            "language": {
                                                "policy": "deterministic",
                                                "code": "en"
                                            },
                                            "name": "complex_type_template",
                                            "components": [
                                                {
                                                    "type": "header",
                                                    "parameters": [
                                                        {
                                                            "type": "video",
                                                            "video": {
                                                                "link": "https://aisensy-project-media-library-stg.s3.ap-south-1.amazonaws.com/VIDEO/6245d025fcb7966c46294618/6334744_6467606fileexampleMP448015MG.mp4"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "body",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "Romit"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "button",
                                                    "sub_type": "url",
                                                    "index": "1",
                                                    "parameters": [
                                                        {
                                                            "type": "text",
                                                            "text": "part-of-the-link"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                },
                                "Interactive Single Product": {
                                    "value": {
                                        "recipient_type": "individual",
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "product",
                                            "body": {
                                                "text": "Body text of interactive msg here"
                                            },
                                            "footer": {
                                                "text": "Interactive Msg Footer"
                                            },
                                            "action": {
                                                "catalog_id": "570881508310768",
                                                "product_retailer_id": "someId15"
                                            }
                                        }
                                    }
                                },
                                "Interactive Multi-Products": {
                                    "value": {
                                        "recipient_type": "individual",
                                        "messaging_product": "whatsapp",
                                        "to": "917089379345",
                                        "type": "interactive",
                                        "interactive": {
                                            "type": "product_list",
                                            "header": {
                                                "type": "text",
                                                "text": "Interactive Msg Header"
                                            },
                                            "body": {
                                                "text": "Body text of interactive msg here"
                                            },
                                            "footer": {
                                                "text": "Interactive Msg Footer"
                                            },
                                            "action": {
                                                "catalog_id": "1242162653103312",
                                                "sections": [
                                                    {
                                                        "title": "Earings",
                                                        "product_items": [
                                                            {
                                                                "product_retailer_id": "44347337697575"
                                                            },
                                                            {
                                                                "product_retailer_id": "44347336419623"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "title": "Apparels",
                                                        "product_items": [
                                                            {
                                                                "product_retailer_id": "44237374004519"
                                                            },
                                                            {
                                                                "product_retailer_id": "44237514808615"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
[...]
